name: test

on:
  workflow_call:
    inputs:
      working-directory:
        required: true
        type: string
        description: "From which folder this pipeline executes"

permissions:
  contents: read

env:
  POETRY_VERSION: "2.1.3"

jobs:
  build:
    defaults:
      run:
        working-directory: ${{ inputs.working-directory }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.10"
          - "3.12"
    name: "make test #${{ matrix.python-version }}"
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }} + Poetry ${{ env.POETRY_VERSION }}
        uses: "./.github/actions/poetry_setup"
        with:
          python-version: ${{ matrix.python-version }}
          poetry-version: ${{ env.POETRY_VERSION }}
          working-directory: ${{ inputs.working-directory }}
          cache-key: core

      - name: Install dependencies
        shell: bash
        run: poetry install --with test

      - name: Run unit tests
        shell: bash
        run: |
          make test

      - name: Create temporary directory for Milvus
        run: |
          mkdir -p milvus_temp
          cd milvus_temp
          wget https://raw.githubusercontent.com/milvus-io/milvus/master/scripts/standalone_embed.sh
          cd ..

      - name: Run Milvus
        run: |
          cd milvus_temp
          bash standalone_embed.sh start
          cd ..
          sleep 5
          echo "\nMilvus server started!"

      - name: Run integration tests
        shell: bash
        run: |
          make integration_test

      - name: Stop and Remove Milvus
        run: |
          cd milvus_temp
          bash standalone_embed.sh stop
          cd ..
          sudo rm -rf milvus_temp
          echo "\nMilvus server stopped and removed!"

      - name: Ensure the tests did not create any additional files
        shell: bash
        run: |
          set -eu

          STATUS="$(git status)"
          echo "$STATUS"

          # grep will exit non-zero if the target message isn't found,
          # and `set -e` above will cause the step to fail.
          echo "$STATUS" | grep 'nothing to commit, working tree clean'
